<form id="input-container">
  <input type="text" placeholder="adjective" ng-model="words.adjectiveOne">
  <input type="text" placeholder="person" ng-model="words.person">
  <input type="text" placeholder="place" ng-model="words.place">
  <input type="text" placeholder="proper noun" ng-model="words.properNounOne">
  <input type="text" placeholder="proper noun" ng-model="words.properNounTwo">
  <input type="text" placeholder="proper noun" ng-model="words.properNounThree">
  <input type="text" placeholder="proper noun" ng-model="words.properNounFour">
  <input type="text" placeholder="adjective" ng-model="words.adjectiveTwo">
  <input type="text" placeholder="adverb" ng-model="words.adverbOne">
  <input type="text" placeholder="person" ng-model="words.person">
  <input type="text" placeholder="verb" ng-model="words.verbOne">
  <input type="text" placeholder="verb" ng-model="words.verbTwo">
  <input type="text" placeholder="adverb" ng-model="words.adverbTwo">
  <input type="text" placeholder="place" ng-model="words.place" >
  <input type="text" placeholder="adjective" ng-model="words.adjectiveThree">
  <input type="text" placeholder="adverb" ng-model="words.adverbThree">
  <button id="send-button" type="button" ng-click="submitWords(words)">Send</button>
</form>
